"""Tool selection for the {{ .input_initial_agent_name }} agent.

Each agent picks which shared components to use. Edit this file to
customize which tools this agent has access to.
"""


def get_tools() -> list:
    """Return the tools available to this agent."""
    tools = []
{{ if (eq .input_use_local_tools "yes") }}
    from example_tool import example_tool
    tools.append(example_tool)
{{ end }}
{{ if (eq .input_use_genie "yes") }}
    from genie_tool import query_genie
    tools.append(query_genie)
{{ end }}
{{ if (eq .input_use_uc_functions "yes") }}
    from uc_functions import get_uc_tools
    tools.extend(get_uc_tools())
{{ end }}
    return tools
